<nav class="d-flex justify-content-between align-items-center">
    <div class="g-form-field-input">
        <mat-form-field appearance="fill">
            <input type="search" placeholder="Search" matInput>
            <mat-icon svgIcon="search" matSuffix></mat-icon>
        </mat-form-field>
    </div>
    <a href="#" class="l-navbar-brand">Logo</a>
    <ul class="d-flex mb-0">
        <div class="l-navbar-item">
            <a href="#" class="g-link-text">Shops</a>
        </div>
        <div class="l-navbar-item">
            <a href="#" class="g-link-text">Login</a>
        </div>
        <div class="l-navbar-item">
            <a href="#" class="g-link-text">Sign Up</a>
        </div>
        <div class="l-navbar-item">
            <a href="#" class="g-link-text">
                <mat-icon svgIcon="shopping_cart"></mat-icon>
            </a>
        </div>
        <div class="l-navbar-item">
            <a href="#" class="g-link-text">
                <mat-icon svgIcon="profile_circle"></mat-icon>
            </a>
        </div>
    </ul>
</nav>