/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.g-container {
  padding: 1.5rem 2rem;
}

.g-form-field-input {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-appearance-fill {
    .mat-form-field-infix {
      padding: 12px 16px;
      border: none;
    }
  
    .mat-form-field-flex {
      border-radius: 0;
      padding: 0;
      align-items: center;
    }

    .mat-icon {
      margin: 0 12px;
    }
  }
}

.g-link-text {
  font-size: 20px;
}